* {
    font-family: Geist Mono;
    font-size: 20px;
    margin: 0;
}

#header {
    background-color: black;
    color: white;
    font-size: 1.8rem;
    font-weight: 900;
    padding: 40px 4%;
    margin-bottom: 20px;
}

#query-form {
    padding: 0 5%;
}

input {
    width: 40%;
    padding: 8px 12px;
    border: 1px solid black;
}

.btn {
    background-color: white;
    border: 1px solid black;
    padding: 8px 12px;
}

.btn:hover {
    cursor: pointer;
    background-color: #e6e6e6;
    color: black;
}

.active {
    background-color: black;
    color: white;
}

#btn-celsius {
    border-right: 0;
}

#content {
    padding: 16px 5%;
}

#conditions, #temp, #uvindex, #humidity, #days, #day_temps {
    margin-top: 10px;
}

#name {
    font-size: 1.5rem;
    margin-top: 0;
}

.day {
    border: 2px solid black;
    padding: 8px 0;
}

#days {
    font-size: 1.2rem;
}

#day_temps{
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}

#day_temps div {
    text-align: center;
}
